.spinner {
    position: relative;
    border-radius: 50%;
    border: 5px solid var(--color-white);
    animation: spinner 1s infinite linear;

    @keyframes spinner {
        0% {
            border-radius: 25%;
        }
        50% {
            border-radius: 50%;
            border: 8px solid var(--color-white);
        }
        100% {
            transform: rotate(360deg);
            border-radius: 25%;
        }
    }

    &.spinner-base {
        width: 40px;
        height: 40px;
    }

    &.spinner-s {
        width: 20px;
        height: 20px;
    }
}