@if(isLoading && isFullScreen) {
    <div class="fixed top-0 left-0 w-full h-full bg-gray-700/80 z-50 flex items-center justify-center">
        <div class="loader loader-fullscreen">
            <div class="spinner">
                <div class="spinner1"></div>
            </div>
        </div>
    </div>
}

@if(isLoading && !isFullScreen) {
    <div class="absolute top-0 left-0 w-full h-full bg-gray-700/80 z-50 flex items-center justify-center">
        <div class="loader loader-screen"></div>
    </div>
}