<button 
  [id]="id" 
  class="relative btn flex items-center justify-center gap-1 py-1 px-2 w-fit rounded-xl shadow-sm"
  [ngClass]="[
    classNames, 
    classNames.includes('btn-primary') ? 'hover:shadow-primary' : '',
    classNames.includes('btn-secondary') ? 'hover:shadow-secondary' : '',
    classNames.includes('btn-tertiary') ? 'hover:shadow-tertiary' : '',
    disabled ? 'hover:shadow-disabled' : ''
  ]"
  [type]="type"
  (click)="clickEmit($event)"
  [disabled]="disabled"
  [routerLink]="routerLink"
  [appTooltip]="tooltipText"
  [tooltipPosition]="tooltipPosition"
  [tooltipTrigger]="tooltipTrigger"
>
  @if (imgPath) {
    <img [src]="imgPath" class="w-100 max-w-[70px]" alt="">
  }
  @if (iconFA) {
    <i [class]="iconFA + ' ' + iconClassNames"></i>
  }
  @if (text) {
    <span [class]="textClassNames" [innerHTML]="text"></span>
  }

  @if (isLoading) {
    <app-loader-local id="loader-local-{{id}}" />
  }

  <ng-content></ng-content>

</button>
