<app-header [id]="id" [classNames]="classNames">

    <div id="left" class="w-2/3 flex items-center justify-start">
        <a href="#">
            <img class="w-[100px]" src="assets/images/logo.png" alt="">
        </a>
    </div>

    <div id="right" class="w-1/3 flex items-center justify-end">
        <ul class="flex items-center gap-3">
            <li>
                <app-search-bar id="search-bar" />
            </li>
            <li>
                <app-button id="btn-help" title="Aides et contact" iconFA="fa-solid fa-question"
                    classNames="btn-primary-rounded text-xs" />
            </li>
            <li>
                <app-button id="btn-profil" title="Mon profil" iconFA="fa-regular fa-user"
                    classNames="btn-primary-rounded text-xs" />
            </li>
            <li>
                <app-button id="btn-settings" title="Mes paramètres" iconFA="fa-solid fa-gear"
                    classNames="btn-primary-rounded text-xs" />
            </li>
            <li class="hidden md:block">
                <app-button id="btn-logout" title="Se déconnecter" iconFA="fa-solid fa-power-off"
                    classNames="btn-secondary-rounded-border text-xs" />
            </li>
            <li class="block md:hidden">
                <app-button id="btn-menu" title="Ouvrir le menu" iconFA="fa-solid fa-bars"
                    classNames="btn-primary-rounded-border text-xs" />
            </li>
        </ul>
    </div>

    <div id="bottom" class="hidden md:block py-1">
        <ul class="flex items-center">
            @for (item of DEV_DATA_NAV; track item.id) {
                @if (!item.sublinks) {
                    <li>
                        <app-button 
                            id="btn-{{item.id}}" 
                            [text]="item.text" 
                            iconFA="fa-regular fa-envelope" 
                            classNames="btn-quaternary w-full text-xs"
                            [routerLink]="item.route" />
                    </li>
                } @else {
                    <li class="relative group">
                        <app-dropdown id="dropdown" [btnText]="item.text" [sublinks]="item.sublinks" />
                    </li>
                }
            }
        </ul>
    </div>

</app-header>