<div #searchBarTrigger (click)="openFullScreenSearch()">
    <div class="flex items-center gap-2 rounded-xl bg-white px-2">
        <div class="pl-1"><i class="fa-solid fa-magnifying-glass text-primary-dark"></i></div>
        <input #triggerInput type="text" class="w-full py-2 rounded-xl" placeholder="Rechercher..." readonly>
    </div>
</div>

@if(showFullScreen) {
    <div #searchBarFullScreen class="fixed top-0 left-0 w-full h-full bg-gray-600/60 backdrop-blur-sm flex items-start pt-8 justify-center anim-fade-scale z-40">
    
        <div #searchBarContent class="flex flex-col gap-1 w-[90%] max-w-[520px]">
    
            <div class="flex items-center gap-2 bg-white rounded-xl px-2">
                <div class="pl-1"><i class="fa-solid fa-magnifying-glass text-primary-dark"></i></div>
                <input #fullscreenInput class="w-full py-2 rounded-xl" [(ngModel)]="inputValue" (input)="onSearchInput(inputValue)" (keydown.enter)="onEnterKey()" type="search" placeholder="Rechercher...">
            </div>
    
            <nav class="bg-white rounded-xl">
                <ul>
                    @for (route of allRoutesDataFiltered; track $index) {
                        <li class="flex">
                            <a #link [routerLink]="[`/${route.path}`]" class="flex items-center gap-3 h-full w-full p-3 text-sm rounded-xl hover:bg-gray-100" [class.bg-gray-200]="$index === activeIndex" (click)="onItemClick($index)">
                                <i class="{{route.data.icon}}"></i>
                                <div class="flex flex-col">
                                    <span class="font-semibold">{{route.data.label}}</span>
                                    <span class="text-xs">{{route.path}}</span>
                                </div>
                            </a>
                            <hr class="my-3">
                        </li>
                    }
                    <li>
                        <app-toggle-dark-mode />
                    </li>
                </ul>
            </nav>
    
        </div>
    
    </div>
}