/* ======================= THEME 1 ======================= */
.theme-1 {

    // base
    --color-white: #ffffff;
    --color-black: #1f1f1f;
    --color-body: #ffffff;
    --color-header: #ffffff;
    --color-footer: #ffffff;

    // primary - secondary - tertiary
    --color-primary: #034a6e;
    --color-primary-light: #edf4f7;
    --color-primary-dark: #043751;

    --color-secondary: #fcb51c;
    --color-secondary-light: #f9a941;
    --color-secondary-dark: #c76d00;

    --color-tertiary: #1f7fb7;
    --color-tertiary-light: #3a97cc;
    --color-tertiary-dark: #176393;

    --color-quaternary: #034a6e;
    --color-quaternary-light: #edf4f7;
    --color-quaternary-dark: #043751;

    // états
    --color-checked: #2563eb;
    --color-checked-light: #6a9ff7;
    --color-checked-dark: #1e3c80;

    --color-success: #10b981;
    --color-success-light: #5ee49d;
    --color-success-dark: #0b8047;

    --color-error: #ef4444;
    --color-error-light: #f68585;
    --color-error-dark: #d92b2b;

    --color-warning: #f59e0b;
    --color-warning-light: #fbc46d;
    --color-warning-dark: #cc7c0b;

    --color-infos: #0ea5e9;
    --color-infos-light: #7ad4f5;
    --color-infos-dark: #0c8bc8;

    --color-disabled: #bec3c5;
    --color-disabled-light: #e6eaeb;
    --color-disabled-dark: #8a9193;

    // palette
    --color-1: #6b3c60;
    --color-1-light: #cfa3c5;
    --color-1-dark: #391b32;

    --color-2: #3c5d6b;
    --color-2-light: #a3c1cf;
    --color-2-dark: #1b2e39;

    --color-3: #6b5e3c;
    --color-3-light: #d0c4a3;
    --color-3-dark: #392f1b;

    --color-4: #3c6b4b;
    --color-4-light: #a3cfb4;
    --color-4-dark: #1b3926;

    --color-5: #6b3c3c;
    --color-5-light: #cfa3a3;
    --color-5-dark: #391b1b;

    --color-6: #3c3c6b;
    --color-6-light: #a3a3cf;
    --color-6-dark: #1b1b39;

    --color-7: #3c6b6b;
    --color-7-light: #a3cfcf;
    --color-7-dark: #1b3939;

    --color-8: #5e3c6b;
    --color-8-light: #c4a3cf;
    --color-8-dark: #2f1b39;

    --color-9: #6b6b3c;
    --color-9-light: #cfcfa3;
    --color-9-dark: #39391b;

    --color-10: #3c6b5e;
    --color-10-light: #a3cfc4;
    --color-10-dark: #1b3932;
}