<header [id]="id" [class]="classNames" class="header fixed left-0 top-0 w-full bg-header border-b-2 border-gray-100 z-40">
    <div class="flex items-center flex-col gap-2 pt-2">
        <nav class="flex items-center justify-between w-full px-4 lg:px-10">
            <ng-content select="#left"></ng-content>
            <ng-content select="#center"></ng-content>
            <ng-content select="#right"></ng-content>
        </nav>
        <nav class="flex items-center w-full h-full px-4 lg:px-10">
            <ng-content select="#bottom"></ng-content>
        </nav>
    </div>
</header>