<app-header-connected />

<main class="py-6 px-5 h-full lg:px-10">

    <div class="container">
        
        <h1>Titre h1</h1>
        <h2>Titre h2</h2>
        <h3>Titre h3</h3>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima sint, facilis velit asperiores ratione inventore officia fugiat nisi beatae a tenetur perferendis laborum laudantium, reiciendis exercitationem vero. Recusandae, dolorum eius.
        </p>

        <form [formGroup]="form">
        
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
        
                <app-input id="email" type="mail" label="email :" placeholder="email"
                    [control]="getControl('email')" [required]="true" />
        
                <app-input id="username" type="text" label="username :" placeholder="username"
                    [control]="getControl('username')" />
        
                <app-input id="password" type="password" label="password :" placeholder="password"
                    [control]="getControl('password')" />
        
                <app-input id="confirmPassword" type="password" label="confirmPassword :" placeholder="confirmPassword"
                    [control]="getControl('password')" />
        
                <app-input id="termsAccepted" type="checkbox" label="termsAccepted"
                    [control]="getControl('checked')" />
        
            </div>
        
            <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="!form.valid">Envoyer</button>
        
        </form>
          
          

    </div>

</main>